<section>
  <div class="container">
      <div class="row mt-4">
          <a href="/admin/add-product" class="btn btn-success ml-auto">Add Product </a>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">category</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row">{{this.name}}</th>
            <td>{{this.category}}</td>
            <td>{{this.description}}</td>
            <td><img style="width:60px; height:60px" src="{{this.image}}"/></td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>