<section>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">category</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row">{{this.name}}</th>
            <td>{{this.category}}</td>
            <td>{{this.description}}</td>
            <td><img src="{{this.image}}"/></td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>